body {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    /* CSS para o tema claro */
    background-color: #fff;
    color: #222;
    transition: background-color 0.1s, color 0.1s;
    /* Adiciona transiçã dos temas */
}

/* CSS para o tema escuro */
body.dark-mode-active {
    background-color: #222;
    color: #eee;
}

header {
    width: 100%;
    height: 85px;
    /* margin: 0 auto; */
    border: 2px solid blue;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; achar um alinhamento que somente separe os conteudos de borda a borda */
    /* align-content: center; */
    /* padding: 5px 5px; */
    /* background-color: lightgray; */
    position: fixed;
}

.navbar {
    border: 2px solid black;
    /* position: fixed; */
    width: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

/* .nav { */
/* border: 2px solid black; */
/* align-items: left; */
/* padding-left: 90%; */
/* justify-content: space-evenly; */
/* } */

/* quando se cria uma classe ou ID vc ira mexer somente dentro dele, no caso das bordas pra dentro. */
.logo1 {
    width: 50px;
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 50%;
}

.logo2 {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

main {
    height: 150vh;
    display: flex;
    padding-top: 100px;
    border: 2px solid red;
    /* margin-top: 150px; */
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
}

h2{
    border: 2px solid purple;
     width: 100px;
  height: 100px;
    border-radius: 50%;
}

/* span{
    height: vh;
    margin-top: 150px;
} */
footer {
    border: 2px solid green;
    height: 50px;
    text-align: left;
}

/* Botao de tema inicio  */

#btn-tema {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1;
    padding: 12px 16px;
    border: none;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 24px;
}


/* Botao de tema fim */

/*  */
.container {
  width: 80%;
  margin: 20px auto;
}

svg text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  fill: #000000; /* Cor do texto */
}

/* Opcional: Mostra a linha do caminho para depuração */
/* 
#caminhoCurvo {
  stroke: #ccc; 
  stroke-width: 1;
}
*/
/*  */