@import url("https://fonts.googleapis.com/css2?family=RobotoCondensed:300,400");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

/* Botao de tema inicio  */
/* html {
  Isso faz com que todos os links de âncora rolem suavemente
  scroll-behavior: smooth !important; 
} */
body {
    /* margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    /* CSS para o tema claro */
    background-color: #fff;
    color: #222;
    transition: background-color 0.1s, color 0.1s;
    /* Adiciona transiçã dos temas */
    /* scroll-behavior: smooth; */
}

/* CSS para o tema escuro */
body.dark-mode-active {
    background-color: #222;
    color: #eee;
}

#btnTema {
    position: fixed;
    top: 14px;
    right: 10px;
    z-index: 10000;
    padding: 12px 16px;
    border: 1px solid black;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 24px;
    /* dar um jeito do mudar a posiçao do botao, mas nao sei onde por */
    transition: padding-left 0.9s ease;
}

@media(max-width: 109.2vh) {
    #btnTema {
        top: 14px;
        right: 73px;
    }
}

/* Botao de tema fim */
/* Botao de retorno inicio */
#btnTop {
    position: fixed;
    bottom: 45px;
    right: 24px;
    z-index: 99;
    font-size: 18px;
    background-color: rgb(5, 17, 22);
    /* cor do botão */
    color: white;
    border: 1px solid black;
    outline: none;
    padding: 16px 28px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

#btnTop:hover {
    background-color: rgb(5, 17, 22);
    transform: scale(1.1);
}

/* Botao de retorno fim */

header {
    width: 100%;
    height: 85px;
    /* margin: 0 auto; */
    /* border: 2px solid blue; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; achar um alinhamento que somente separe os conteudos de borda a borda */
    /* align-content: center; */
    /* padding: 5px 5px; */
    background-color: white;
    position: fixed;
    z-index: 1000;
}

body.dark-mode-active header {
    background-color: black;

}

.navbar {
    /* border: 2px solid lime; */
    /* position: fixed; */
    width: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* z-index: 9999; */
    background-color: white;
    /* transition: background-color 0.3s ease; */
}

@media(max-width: 300vh) {
    .navbar {
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
}

@media(max-width: 300vh) {
    body.dark-mode-active .navbar {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
}

/* .nav { */
/* border: 2px solid black; */
/* align-items: left; */
/* padding-left: 90%; */
/* justify-content: space-evenly; */
/* } */

/* quando se cria uma classe ou ID vc ira mexer somente dentro dele, no caso das bordas pra dentro. */
.logo1 {
    width: 50px;
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 50%;
}

main {
    /* height: 250vh; */
    /* display: flex; */
    padding-top: 100px;
    /* border: 2px solid red; */
    /* margin-top: 150px; */
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    /* transition: width 0.5s ease-in-out; */

}


.mainlogo {
    display: flexbox;
    /* border: 2px solid pink; */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120vh;
    /* transition: width 0.5s ease-in-out; */
    padding-top: 10%;
}

/* .mainlogo .logo2{
    padding-top: 10px;
} */

/* colocar as letras com um degrade inicio */
.txtlogo {
    /* border: 2px solid brown; */
    font-size: 2.5rem;
    /* Tamanho do texto */
    font-weight: bold;
    /* Deixa o texto mais espesso para o efeito funcionar melhor */
    text-transform: uppercase;
    font-family: sans-serif;
    /* 1. Define o fundo como um gradiente grande (ex: 400% da largura) */
    background: linear-gradient(to right,
            #ef5350,
            /* Vermelho */
            #f48fb1,
            /* Rosa */
            #7e57c2,
            /* Roxo */
            #2196f3,
            /* Azul */
            #26a69a,
            /* Turquesa */
            #ffeb3b,
            /* Amarelo */
            #ef5350
            /* Volta ao Vermelho */
        );
    background-size: 400% auto;
    /* Torna o gradiente 4x maior que o elemento */

    /* 2. Aplica o texto como uma máscara para o fundo */
    -webkit-background-clip: text;
    /* Efeito específico para navegadores Webkit (Chrome, Safari, Edge) */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Torna a cor do texto transparente */

    /* 3. Inicia a animação */
    animation: gradient-animation 15s ease infinite;
    /* Nome da animação, duração, easing, loop infinito */
}

/* 4. Define os Keyframes da Animação */
@keyframes gradient-animation {
    0% {
        background-position: 0% center;
        /* Posição inicial do gradiente */
    }

    50% {
        background-position: 100% center;
        /* Move o gradiente para a direita */
    }

    100% {
        background-position: 0% center;
        /* Retorna para a posição inicial */
    }
}

/* colocar as letras com um degrade fim */

.logo2 {
    width: 200px;
    height: 200px;
    /* border: 2px solid yellow; */
    border-radius: 50%;
}

.wrapper {
    display: flex;
    justify-content: center;
}

#logodesc1 {
    font-size: 1.rem;
    font-weight: 700;
}

.logodesc1 .logodescS1:after {
    content: 'Desenvolvedor';
    animation: words1 6s infinite;
}

@keyframes words1 {

    0%,
    33% {
        content: 'Desenvolvedor_';
        color: #00ff7f;
    }

    34%,
    66% {
        content: 'Front-End_';
        color: #ff00ff;
    }

    67%,
    100% {
        content: 'Em Formaçao_';
        color: #ffd700;
    }
}

#logodesc2 {
    font-size: 1.rem;
    font-weight: 700;
}

.logodesc2 .logodescS2:after {
    content: 'Front_End';
    animation: words2 6s infinite;
}

@keyframes words2 {

    0%,
    33% {
        content: 'Em Formaçao';
        color: #ffd700;
    }

    34%,
    66% {
        content: 'Desenvolvedor';
        color: #00ff7f;
    }

    67%,
    100% {
        content: 'Front-End';
        color: #ff00ff;
    }
}

#logodesc3 {
    font-size: 1.rem;
    font-weight: 700;
}

.logodesc3 .logodescS3:before {
    content: 'Em Formaçao';
    animation: words3 6s infinite;
}

@keyframes words3 {

    0%,
    33% {
        content: '_Front-End';
        color: #ff00ff;
    }

    34%,
    66% {
        content: ' _Em Formaçao';
        color: #ffd700;
    }

    67%,
    100% {
        content: '_Desenvolvedor';
        color: #00ff7f;
    }
}

/* inicio das modificaçaoes para o domino */
.listaredes {
    /* border: 2px solid black; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background: #ccc; */
    /* z-index: 10; */
    /* transition: width 0.5s ease-in-out; */

}

.redeslogo {
    /* border: 2px solid gray; */
    /* list-style-type: none; */
    /* justify-content: center; */
    /* align-items: center; */
    /* quero colocar a com 2 em cima e 1 embaixo, foi! */
    flex-wrap: wrap;
    /* da mais de uma linhao container do display flex */
    gap: 150px 200px;
    /* padding-left: 200px; */
    /* margin: 0; */
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    /* height: 100vh; */
    /* transition: width 0.5s ease-in-out; */
    padding-top: 50px;
}

.redeslogo .rede1 {
    /* border: 2px solid red; */
    list-style: none;
    /* margin: 0  100px; */
    /* padding: 0  100px; */
    /* align-items: center; */
    /* flex: 1 1 211px; */
    padding-right: 10%;
    padding-left: 5%;
    /* margin-left: 10px; */
    transition: padding-left 0.3s ease;
}

@media(max-width: 100vh) {
    .redeslogo .rede1 {
        padding-left: 15%;
    }
}

.redeslogo .rede2 {
    /* border: 2px solid red; */
    list-style: none;
    /* margin: 0  100px; */
    /* padding: 0  100px; */
    /* align-items: center; */
    /* flex: 1 1 211px; */
    /* justify-content: flex-end; */
    /* padding-right: 0; */
    padding-left: 15%;
    /* margin-right: 0; */
    transition: padding-left 0.3s ease;
    /* transition: width 0.5s ease-in-out; */
}

@media(max-width: 200vh) {
    .redeslogo .rede2 {
        padding-left: 20%;
    }

    /* transition: padding-left 0.3s ease; */

}

@media(max-width: 100vh) {
    .redeslogo .rede2 {
        padding-left: 15%;
    }
}

.redeslogo .rede3 {
    /* padding-right: 50px; */
    list-style: none;
    /* padding-bottom: 100px; */
    /* margin-bottom: 350px; */
    align-items: center;
    justify-content: center;
    /* padding-right: 10%; */
    padding-left: 40%;
    /* dar um jeito desse botao ficar no meio na tela expandida  e alinhado na tela comprimida, foi!!! */
    /* margin-left: 25%; */
    transition: padding-left 0.3s ease;

}

@media(max-width: 100vh) {
    .redeslogo .rede3 {
        padding-left: 15%;
    }
}

/* .redeslogo li {
    Define a largura para 50%. Subtrai um pouco para margem se necessário
    flex-basis: calc(40% - 10px);
    margin: 0 5px;
    Adiciona algum espaço entre os itens
    Outros estilos para visualização
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    list-style: none;

} */
.fa-brands {
    color: black;
    font-size: 40px;
    line-height: 40px;
    transition: .5s;
    padding-right: 14px;
}

body.dark-mode-active .fa-brands {
    color: white;
}

.linkredes {
    width: 210px;
    height: 80px;
    background-color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg);
    translate: (0, 0);
    box-shadow: -20px 20px 10px black;
}

body.dark-mode-active .linkredes {
    box-shadow: -20px 20px 10px white;
    background-color: black;

}

.linkredes .sredes {
    color: black;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    letter-spacing: 4px;
    transition: .5s;
    z-index: 10;
}

body.dark-mode-active .linkredes .sredes {
    color: white;

}

.linkredes:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: white;
    top: 10px;
    left: -20px;
    transform: rotate(0deg) skewY(-45deg);
    z-index: 10;
}

body.dark-mode-active .linkredes:before {
    background: black;
}

.linkredes:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    background: white;
    bottom: -20px;
    left: -10px;
    transform: rotate(0deg) skewX(-45deg);
    z-index: 10;

}

body.dark-mode-active .linkredes:after {
    background: black;
}


.linkredes:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 30px black;
}

body.dark-mode-active .linkredes:hover {
    box-shadow: -50px 50px 30px white;

}

.rede1:hover .fa-brands,
.rede1:hover .sredes {
    color: white;
}

body.dark-mode-active .rede1:hover .fa-brands,
body.dark-mode-active .rede1:hover .sredes {
    color: black;
}

.rede2:hover .fa-brands,
.rede2:hover .sredes {
    color: white;
}

body.dark-mode-active .rede2:hover .fa-brands,
body.dark-mode-active .rede2:hover .sredes {
    color: black;
}

.rede3:hover .fa-brands,
.rede3:hover .sredes {
    color: white;
}

body.dark-mode-active .rede3:hover .fa-brands,
body.dark-mode-active .rede3:hover .sredes {
    color: black;
}

.rede1:hover:nth-child(1) {
    & a {
        background: red;

        &::before {
            background: darkred;
        }

        &::after {
            background: crimson;
        }
    }
}

.rede2:hover:nth-child(2) {
    & a {
        background: blue;

        &::before {
            background: darkblue;
        }

        &::after {
            background: lightblue;
        }
    }
}

.rede3:hover:nth-child(3) {
    & a {
        background: green;

        &::before {
            background: darkgreen;
        }

        &::after {
            background: lightgreen;
        }
    }
}

/* fim das modificaçoes para o domino */

/* h2 {
    border: 2px solid purple;
    width: 100px;
    height: 100px;
    border-radius: 50%;
} */

/* span{
    height: vh;
    margin-top: 150px;
} */

.mainSM {
    padding-top: 10%;
    height: 170vh;
    /* border: 2px solid navy; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    /* background: #000; */
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
@media(max-width: 900px) {
    .mainSM {
        height: 200%;
        padding-bottom: 10%;
    }
}


.titulo1 {
    .matrix-bg {
        background: transparent;
        overflow: hidden;
        margin: 0;
        /* height: 100vh; */
    }

    .matrix-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
        z-index: 2;
        /* Ensure it stays above the rain effect */
    }

    .matrix-text {
        color: #0f0;
        font-size: 80px;
        font-family: monospace;
        position: relative;
        text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0;
        z-index: 2;
        /* Ensure it stays above the rain effect */
    }

    .matrix-text::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: glitch 2s infinite;
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        transform: translate(-2px, -2px);
        color: #0f0;
        text-shadow: 0 0 5px #0f0, 0 0 15px #0f0;
    }

    .rain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: repeating-linear-gradient(0deg,
                rgba(0, 255, 0, 0.1) 0,
                rgba(0, 255, 0, 0.2) 2px,
                transparent 4px);
        animation: rain 10s linear infinite;
        z-index: 1;
        /* Place it behind the text */
    }

    /* Animation for the rain effect */
    @keyframes rain {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(100%);
        }
    }

    /* Glitch effect for the text */
    @keyframes glitch {

        0%,
        100% {
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
            transform: translate(0);
        }

        33% {
            clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
            transform: translate(-5px, -5px);
        }

        66% {
            clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
            transform: translate(5px, 5px);
        }
    }

}

.texto1 {
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    }

    100% {
        text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
    }
}

.maintTlv {
    /* border: 5px solid black; */
    background: rgba(6, 1, 46, 0.507);
    height: 50vh;
    width: 90%;
    margin-left: 5%;
    border-radius: 10%;
    box-shadow: 0 5px 20px rgb(0, 0, 0);
}


.carousel-inner {
    /* margin-left: 40%; */
    /* margin-right: 60%; */
    justify-self: center;
    display: flex;
    height: 300px;
    width: 400px;
    border-radius: 5%;
    box-shadow: 0 5px 20px rgb(0, 0, 0);
    transition: padding-left 0.3s ease;
    justify-self: center;
    display: flex;
}

@media(max-width: 800vh) {
    .maintTlv .carousel-inner {
        /* margin-left: 10%; */
        justify-self: center;
        display: flex;
        height: 150px;
        width: 250px;

    }
}
@media(max-width: 300vh) {
    .carousel-inner {
        justify-self: center;
        display: flex;
        height: 50px;
        width: 150px;

    }
}


.mainPJT {
    /* display: grid; */
    padding-top: 5%;
    /* padding-bottom: 30%; */
    /* border: 2px solid blueviolet; */
    height: 50vh;
    background: lightgray;
    width: 90%;
    border-radius: 10%;
    box-shadow: 0 5px 20px darkgray;
    /* left: 50%; */
    margin-left: 5%;
}


body.dark-mode-active .mainPJT {
    background: darkgray;
    box-shadow: 0 5px 20px lightgray;
}

.pjts {
    font-size: 1.5rem;
    margin: 20px 0;
}

.pjts a {
    color: inherit;
    text-decoration: none;
}

.pjts :before {
    content: 'Projeto';
    animation: words1 6s infinite;
}

@keyframes words1 {

    0%,
    33% {
        content: 'Projeto';
        color: #00ff7f;
    }

    34%,
    66% {
        content: 'Projeto';
        color: #ff00ff;
    }

    67%,
    100% {
        content: 'Projeto';
        color: #ffd700;
    }
}

footer {
    width: 100%;
    /* position: fixed; tirei isso para que a pagina possa descer*/
    /* border: 2px solid green; */
    height: 60px;
    text-align: left;
    bottom: 0px;
    background-color: #f8f9fa;
    /* adicionar algo para que ao alinhar com os contatos fique chamando atençao para a section */
}
@media(max-width: 900px) {
    footer {
        height: 100px;
    }
}

body.dark-mode-active footer {
    background-color: #333;
}

.contatos {
    /* display: flex; */
    width: 100%;
    /* height: 50px; */
    position: fixed;
    /* border: 2px solid orange; */
    bottom: 0px;
    background-color: #f8f9fa;
    color: #212529;
    padding-top: 0px;
    display: flex;
    justify-content: flex-start;
    gap: 163px;
    padding-left: 10px;
    list-style-type: none;
    transition: padding-left 0.3s ease;
}

@media(max-width: 200px) {
    .contatos {
        display: flex;
        flex-direction: column;
        height: 10%;
        gap: 0;
    }
}


body.dark-mode-active .contatos {
    background-color: #333;
    color: #eee;
}