/* Botao de tema inicio  */

body {
    /* margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    /* CSS para o tema claro */
    background-color: #fff;
    color: #222;
    transition: background-color 0.1s, color 0.1s;
    /* Adiciona transiçã dos temas */
}

/* CSS para o tema escuro */
body.dark-mode-active {
    background-color: #222;
    color: #eee;
}

#btn-tema {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1;
    padding: 12px 16px;
    border: none;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 24px;
    /* dar um jeito do mudar a posiçao do botao, mas nao sei onde por */
}

/* Botao de tema fim */

header {
    width: 100%;
    height: 85px;
    /* margin: 0 auto; */
    border: 2px solid blue;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; achar um alinhamento que somente separe os conteudos de borda a borda */
    /* align-content: center; */
    /* padding: 5px 5px; */
    /* background-color: lightgray; */
    position: fixed;
}

.navbar {
    border: 2px solid lime;
    /* position: fixed; */
    width: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
}

/* .nav { */
/* border: 2px solid black; */
/* align-items: left; */
/* padding-left: 90%; */
/* justify-content: space-evenly; */
/* } */

/* quando se cria uma classe ou ID vc ira mexer somente dentro dele, no caso das bordas pra dentro. */
.logo1 {
    width: 50px;
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 50%;
}

main {
    height: 200vh;
    /* display: flex; */
    padding-top: 100px;
    border: 2px solid red;
    /* margin-top: 150px; */
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}


.mainlogo {
    display: flexbox;
    border: 2px solid pink;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo2 {
    width: 150px;
    height: 150px;
    border: 2px solid yellow;
    border-radius: 50%;
}

.txtlogo {
    border: 2px solid brown;
}

/* .listaredes {
    border: 2px solid black;
    height: 100vh;
    display: flex;
} */
.redeslogo {
    border: 2px solid gray;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* quero colocar a com 2 em cima e 1 embaixo, foi! */
    flex-wrap: wrap;
    /* da mais de uma linhao container do display flex */
    gap: 10px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.redeslogo li {
    /* Define a largura para 50%. Subtrai um pouco para margem se necessário */
    flex-basis: calc(40% - 10px);
    margin: 0 5px;
    /* Adiciona algum espaço entre os itens */
    /* Outros estilos para visualização */
    /* background-color: #f0f0f0; */
    padding: 10px;
    text-align: center;
    list-style: none;

}
/* inicio das modificaçaoes para o domino */
.fa-brands{
    color: black;
    font-size: 40px;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
}
.linkredes{
    width: 210px;
    height: 10px;
    background-color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg);
    translate(0, 0);
    box-shadow: -20px 20px 10px #00000000;
}
.sredes{
    color: black;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    letter-spacing: 4px;
    transition: .5s;
}
.sredes:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background: white;
    top: 10px;
    left: -20px;
    transform: rotate(0deg) skewY(-45deg);
}
.sredes:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 100%;
    background: white;
    bottom: -20px;
    left: -10px;
    transform: rotate(0deg) skewX(-45deg);
}
.sredes:hover{
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 30px #00000000;
}
.rede1:hover .fa-brands,
.rede1:hover .sredes{
    color: white;
}
.rede1:hover:nth-child(1) {
    & a{
        background: #3b5998;
        &::before{
            background: #365492;
        }

        &::after{
            background: #4a69ad;
        }
    }
}
/* fim das modificaçoes para o domino */
/* h2 {
    border: 2px solid purple;
    width: 100px;
    height: 100px;
    border-radius: 50%;
} */

/* span{
    height: vh;
    margin-top: 150px;
} */
footer {
    width: 100%;
    position: fixed;
    border: 2px solid green;
    height: 60px;
    text-align: left;
    bottom: 0px;
}

.contatos {
    width: 100%;
    /* height: 50px; */
    position: fixed;
    border: 2px solid orange;
    bottom: 0px;
    background-color: #f8f9fa;
    color: #212529;
    padding-top: 0px;
    display: flex;
    justify-content: flex-start;
    gap: 163px;
    padding-left: 10px;
    list-style-type: none;

}


body.dark-mode-active .contatos {
    background-color: #333;
    color: #eee;
}