@import url("https://fonts.googleapis.com/css2?family=RobotoCondensed:300,400");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

/* Botao de tema inicio  */
/* html {
  Isso faz com que todos os links de âncora rolem suavemente
  scroll-behavior: smooth !important; 
} */
body {
    /* margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    /* CSS para o tema claro */
    background-color: #fff;
    color: #222;
    transition: background-color 0.1s, color 0.1s;
    /* Adiciona transiçã dos temas */
    /* scroll-behavior: smooth; */
}

/* CSS para o tema escuro */
body.dark-mode-active {
    background-color: #222;
    color: #eee;
}

#btn-tema {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 1;
    padding: 12px 16px;
    border: 1px solid black;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 24px;
    /* dar um jeito do mudar a posiçao do botao, mas nao sei onde por */
}

/* Botao de tema fim */

header {
    width: 100%;
    height: 85px;
    /* margin: 0 auto; */
    border: 2px solid blue;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; achar um alinhamento que somente separe os conteudos de borda a borda */
    /* align-content: center; */
    /* padding: 5px 5px; */
    background-color: white;
    position: fixed;
    z-index: 1000;
}
body.dark-mode-active header{
    background-color: black;

}

.navbar {
    border: 2px solid lime;
    /* position: fixed; */
    width: 100%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* z-index: 9999; */
    background-color: white;
    /* transition: background-color 0.3s ease; */
}
@media(max-width: 300vh){
    .navbar{
        background-color: rgba(255, 255, 255, 0.5) !important;
    }
}
 @media(max-width: 300vh){
    body.dark-mode-active .navbar{
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
}

/* .nav { */
/* border: 2px solid black; */
/* align-items: left; */
/* padding-left: 90%; */
/* justify-content: space-evenly; */
/* } */

/* quando se cria uma classe ou ID vc ira mexer somente dentro dele, no caso das bordas pra dentro. */
.logo1 {
    width: 50px;
    height: 50px;
    /* border: 2px solid black; */
    border-radius: 50%;
}

main {
    /* height: 250vh; */
    /* display: flex; */
    padding-top: 100px;
    border: 2px solid red;
    /* margin-top: 150px; */
    justify-content: center;
    /* align-items: center; */
    text-align: center;
        /* transition: width 0.5s ease-in-out; */

}


.mainlogo {
    display: flexbox;
    border: 2px solid pink;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150vh;
    /* transition: width 0.5s ease-in-out; */
    padding-top: 10%;
}
/* .mainlogo .logo2{
    padding-top: 10px;
} */

.txtlogo {
    border: 2px solid brown;
    /* colocar as letras com um degrade */
}

.logo2 {
    width: 150px;
    height: 150px;
    border: 2px solid yellow;
    border-radius: 50%;
}


/* inicio das modificaçaoes para o domino */
.listaredes {
    border: 2px solid black;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background: #ccc; */
    /* z-index: 10; */
    /* transition: width 0.5s ease-in-out; */

}

.redeslogo {
    border: 2px solid gray;
    /* list-style-type: none; */
    /* justify-content: center; */
    /* align-items: center; */
    /* quero colocar a com 2 em cima e 1 embaixo, foi! */
    flex-wrap: wrap;
    /* da mais de uma linhao container do display flex */
    gap: 150px 200px;
    /* padding-left: 200px; */
    /* margin: 0; */
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    /* height: 100vh; */
    /* transition: width 0.5s ease-in-out; */
    padding-top: 50px;
}

.redeslogo .rede1 {
    /* border: 2px solid red; */
    list-style: none;
    /* margin: 0  100px; */
    /* padding: 0  100px; */
    /* align-items: center; */
    /* flex: 1 1 211px; */
    padding-right: 10%;
    padding-left: 5%;
    /* margin-left: 10px; */
    transition: padding-left 0.3s ease;
}
@media(max-width: 100vh){
    .redeslogo .rede1{
        padding-left: 15%;
    }
}

.redeslogo .rede2 {
    /* border: 2px solid red; */
    list-style: none;
    /* margin: 0  100px; */
    /* padding: 0  100px; */
    /* align-items: center; */
    /* flex: 1 1 211px; */
    /* justify-content: flex-end; */
    /* padding-right: 0; */
    padding-left: 15%;
    /* margin-right: 0; */
    transition: padding-left 0.3s ease;
    /* transition: width 0.5s ease-in-out; */
}
@media(max-width: 200vh){
    .redeslogo .rede2{
        padding-left: 20%;
    }
    transition: padding-left 0.3s ease;

}
@media(max-width: 100vh){
    .redeslogo .rede2{
        padding-left: 15%;
    }
}

.redeslogo .rede3 {
    /* padding-right: 50px; */
    list-style: none;
    /* padding-bottom: 100px; */
    /* margin-bottom: 350px; */
    align-items: center;
    justify-content: center;
    /* padding-right: 10%; */
    padding-left: 40%;
    /* dar um jeito desse botao ficar no meio na tela expandida  e alinhado na tela comprimida, foi!!! */
    /* margin-left: 25%; */
    transition: padding-left 0.3s ease;

}
@media(max-width: 100vh){
    .redeslogo .rede3{
        padding-left: 15%;
    }
}

/* .redeslogo li {
    Define a largura para 50%. Subtrai um pouco para margem se necessário
    flex-basis: calc(40% - 10px);
    margin: 0 5px;
    Adiciona algum espaço entre os itens
    Outros estilos para visualização
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    list-style: none;

} */
.fa-brands {
    color: black;
    font-size: 40px;
    line-height: 40px;
    transition: .5s;
    padding-right: 14px;
}
body.dark-mode-active .fa-brands {
    color: white;
}
.linkredes {
    width: 210px;
    height: 80px;
    background-color: white;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg);
    translate(0, 0);
    box-shadow: -20px 20px 10px black;
}
body.dark-mode-active .linkredes {
    box-shadow: -20px 20px 10px white;
        background-color: black;

}

.linkredes .sredes {
    color: black;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    letter-spacing: 4px;
    transition: .5s;
    z-index: 10;
}
body.dark-mode-active .linkredes .sredes{
    color: white;

}

.linkredes:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: white;
    top: 10px;
    left: -20px;
    transform: rotate(0deg) skewY(-45deg);
    z-index: 10;
}
body.dark-mode-active .linkredes:before {
    background: black;
}

.linkredes:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    background: white;
    bottom: -20px;
    left: -10px;
    transform: rotate(0deg) skewX(-45deg);
    z-index: 10;

}
body.dark-mode-active .linkredes:after {
    background: black;
}


.linkredes:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 30px black;
}
body.dark-mode-active .linkredes:hover {
    box-shadow: -50px 50px 30px white;

}

.rede1:hover .fa-brands,
.rede1:hover .sredes {
    color: white;
}
body.dark-mode-active .rede1:hover .fa-brands,
body.dark-mode-active .rede1:hover .sredes {
    color: black;
}

.rede2:hover .fa-brands,
.rede2:hover .sredes {
    color: white;
}
body.dark-mode-active .rede2:hover .fa-brands,
body.dark-mode-active .rede2:hover .sredes {
    color: black;
}

.rede3:hover .fa-brands,
.rede3:hover .sredes {
    color: white;
}
body.dark-mode-active .rede3:hover .fa-brands,
body.dark-mode-active .rede3:hover .sredes {
    color: black;
}

.rede1:hover:nth-child(1) {
    & a {
        background: red;

        &::before {
            background: darkred;
        }

        &::after {
            background: crimson
            ;
        }
    }
}

.rede2:hover:nth-child(2) {
    & a {
        background: blue;

        &::before {
            background: darkblue;
        }

        &::after {
            background: lightblue;
        }
    }
}

.rede3:hover:nth-child(3) {
    & a {
        background: green;

        &::before {
            background: darkgreen;
        }

        &::after {
            background: lightgreen;
        }
    }
}

/* fim das modificaçoes para o domino */
/* h2 {
    border: 2px solid purple;
    width: 100px;
    height: 100px;
    border-radius: 50%;
} */

/* span{
    height: vh;
    margin-top: 150px;
} */

.mainSM{
    padding-top: 10%;
    height: 200vh;
    border: 2px solid navy;
}

.mainPJT{
    padding-top: 10%;
    border: 2px solid blueviolet;
    height: 100vh;
}

footer {
    width: 100%;
    /* position: fixed; tirei isso para que a pagina possa descer*/
    border: 2px solid green;
    height: 60px;
    text-align: left;
    bottom: 0px;
    background-color: #f8f9fa;
    /* adicionar algo para que ao alinhar com os contatos fique chamando atençao para a section */
}
body.dark-mode-active footer{
    background-color: #333;
}

.contatos {
    width: 100%;
    /* height: 50px; */
    position: fixed;
    border: 2px solid orange;
    bottom: 0px;
    background-color: #f8f9fa;
    color: #212529;
    padding-top: 0px;
    display: flex;
    justify-content: flex-start;
    gap: 163px;
    padding-left: 10px;
    list-style-type: none;

}


body.dark-mode-active .contatos {
    background-color: #333;
    color: #eee;
}